	<br/>
	<h3>Hours by Date <small>(<%= link_to 'export', reporting_path(params[:act], params[:project], params[:client], params[:month], params[:year], :csv) %>)</small></h3>
	<% from = Date.new(params[:year].to_i,params[:month].to_i).beginning_of_month %>
	<% to = Date.new(params[:year].to_i,params[:month].to_i).end_of_month%>
	<table width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<th>Date</th>
			<th>Hours</th>
		 	<th>Projects</th>
			<th>Actions</th>
		</tr>
		<% (from..to).select{|d| d}.each do |d| %>
			<% current_punches =  punches.in_day(d.to_time) %>
			<% sum_minutes = current_punches.sum(:duration_in_minutes) %>
			<% next unless sum_minutes > 0 %>
			<tr class="<%= cycle("even", "odd") %>">
				<td class="title"><span class=""><%= d.to_s(:short) %></span></td>
				<td class="hours"><%= minutes_to_hours( sum_minutes ) %></td>
				<td class="hours"><%= current_punches.tag_counts_on(:projects).collect{|t| t.name }.join(", ") %></td>
				<td class="hours"><%= current_punches.tag_counts_on(:actions).collect{|t| t.name }.join(", ") %></td>
	    <% end %>
		<tr>
			<td class="title final"></td>
			<td class="hours final"><%= minutes_to_hours( punches.in_month_and_year(params[:month],params[:year]).sum(:duration_in_minutes)) %></td>
			<td class="hours final"></td>
			<td class="hours final"></td>
		</tr>
	</table>