</br>
<h3>Monthly Hours</h3>
<% 
	from_month = params[:from_month] || "1"
	to_month = params[:to_month] || "12"
	to_year = params[:to_year] || params[:from_year]
	from = Date.new(params[:from_year].to_i,from_month.to_i).beginning_of_month 
	to = Date.new(to_year.to_i,to_month.to_i).end_of_month
%>
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<th>Month</th>
		<th>Hours</th>
	 	<th>Details</th>
	</tr>
	<% (from..to).select{|d| d.day == 1}.each do |m| %>
		<% current_punches =  punches.in_month(m.to_time) %>
		<% sum_minutes = current_punches.sum(:duration_in_minutes) %>
		<% next unless sum_minutes > 0 %>
		<tr class="<%= cycle("even", "odd") %>">
			<td class="title"><span class=""><%= m.to_time.strftime("%b %y") %></span></td>
			<td class="hours"><%= minutes_to_hours( sum_minutes ) %></td>
			<td class="details">
				<% current_punches.tag_counts_on(:projects).each do |p| %>
					<span class="important project"><%= p.name %></span>
					(<%= minutes_to_hours(current_punches.tagged_with(p, :on => :projects).sum(:duration_in_minutes))%>)
				<% end %>
			</td>
    <% end %>
	<tr>
		<td class="title final"></td>
		<td class="hours final"><%= minutes_to_hours( punches.between(from.to_time,to.to_time).sum(:duration_in_minutes)) %></td>
		<td class="hours final"></td>
	</tr>
</table>