<ul class="reporting_filters">
	<li>Time spent doing</li>
	<li>
		<a href="#" class="important action"><%= params[:act] || "All Actions" %></a>
<ul class="drop_down">
	<li><%= link_to "All Actions", reporting_path(nil, params[:project], params[:client], params[:month], params[:year]), :class => "action" %></li>
	<% @punches.tag_counts_on(:actions).each do |a| %>
		<li><%= link_to a.name, reporting_path(a.name, params[:project], params[:client], params[:month], params[:year]), :class => "action" %></li>
	<% end %>
</ul>
</li>
<li>on</li>
<li>
	<a href="#" class="important project"><%= params[:project] || "All Projects" %></a>
<ul class="drop_down">
	<li><%= link_to "All Projects", reporting_path(params[:act], nil, params[:client], params[:month], params[:year]), :class => "project" %></li>
	<% @punches.tag_counts_on(:projects).each do |p| %>
		<li><%= link_to p.name, reporting_path(params[:act], p.name, params[:client], params[:month], params[:year]), :class => "project" %></li>
	<% end %>
</ul>
</li>
<li>for</li>
<li>
	<a href="#" class="important client"><%= params[:client] || "All Clients" %></a>
<ul class='drop_down'>
	<li><%= link_to "All Clients", reporting_path(params[:act], params[:project], nil, params[:month], params[:year]), :class => "client" %></li>
	<% @punches.tag_counts_on(:clients).each do |c| %>
		<li><%= link_to c.name, reporting_path(params[:act], params[:project], c.name, params[:month], params[:year] ), :class => "client" %></li>
	<% end %>
</ul>
</li>
</ul><br/>
<ul class="reporting_filters">
	<li>on</li>
	<li><a href="#" class="important month"><%= params[:month] || "Month" %></a>
	<ul class="drop_down">
		<li><%= link_to "all", reporting_path(params[:act], params[:project], params[:client], nil, params[:year]), :class => "month" %></li>
		<% (1..12).each do |m| %>
			<li><%= link_to m, reporting_path(params[:act], params[:project], params[:client], m, params[:year]), :class => "month" %></li>
		<% end %>
	</ul>
	</li>
	<li><a href="#" class="important year"><%= params[:year] || "Year" %></a>
	<ul class="drop_down">
		<li><%= link_to "all", reporting_path(params[:act], params[:project], params[:client], params[:month], nil), :class => "month" %></li>
		<% this_year = Time.now.year %>
		<% [this_year,this_year-1,this_year-2,this_year-3].each do |y| %>
			<li><%= link_to y, reporting_path(params[:act], params[:project], params[:client], params[:month], y), :class => "month" %></li>
		<% end %>
	</ul>
	</li>
</ul>

<% if params[:year] && params[:month]%>	
	<%= render :partial => "hours_by_date", :locals => { :punches => @punches } %>
<% else %>
	<div id="hours_breakdown">
		<div class="section left">
			<h2><%= minutes_to_hours(@punches.hours_today) %></h2>
			<span class="information">HOURS TODAY</span>
		</div>
		<div class="section">
			<h2><%= minutes_to_hours(@punches.hours_this_week) %></h2>
			<span class="information">HOURS THIS WEEK</span>
		</div>
		<div class="section right">
			<h2><%= minutes_to_hours(@punches.hours_this_month) %></h2>
			<span class="information">HOURS THIS MONTH</span>
		</div>
		<div class="clear"></div>
	</div>
	<% unless params[:project] %>
		<%= render :partial => "hours_by_project", :locals => { :punches => @punches } %>
	<% end %>
	<% unless params[:act]%>
		<%= render :partial => "hours_by_action", :locals => { :punches => @punches } %>
	<% end %>
	<% unless params[:client]%>
		<%= render :partial => "hours_by_client", :locals => { :punches => @punches } %>
	<% end %>
<% end %>
<h3>Recent Punches</h3>
	<%= render @punches.limit(5) %>

